<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel=stylesheet type=text/css href=/stylesheet/index.css />
  <title>index</title>
</head>
<body>
  
<div class='container'>
    <div class='nested'>
      <h1 class='title'> Rock - Paper - Scissors</h1>
      <br>
      <form action='/name' method='post'>
        <input class='name' type='text' name='name' placeholder='Enter your name'>
        <br>
        <button class='name-submit' type='submit' value='Submit'> Start Game
      </form>
    </div>
  </div>
</body>
</html>
